<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Book Notes</title>
</head>
<body>
    <nav>
        <h1><a href="/">My Book Notes</a></h1>
        <h3><a href="/add">New Entry</a></h3>
    </nav>